@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

$primary_font: 'Roboto', sans-serif;

body {
  min-height: 100vh;
  position: relative;
  background: url(../images/background.png) no-repeat center top;
  font-family: $primary_font !important;
}

body {
	padding-top: 68px;
}

/*Header Starts*/

header {
  background-image: linear-gradient(to bottom, #e77717, #97281e);

  h1 {
    margin: 0;
    display: inline-block;

    a {
      width: 154px;
      height: auto;
      padding: 10px 0;
      display: inline-block;
      background: url(../images/logo.png) no-repeat center center/contain;
      text-indent: -9999px;
    }
  }
}

/*Header Ends*/

.dob {
  background: #fff url(../images/calender.png) no-repeat 97% center;
}

.datepicker {
  z-index: 10000 !important;
}

.invisible {
  visibility: hidden !important;
}

.cstmbtn1 {
  min-width: 130px;
  padding: 7px 25px;
  border: solid 1px #043b6d;
	@include border-radius(20px);
	background-color: #043b6d;
	color: #fff;
  font: 500 18px $primary_font;
  outline: 0 !important;
  text-decoration: none;
}

.cstmbtn2 {
  min-width: 130px;
  padding: 7px 25px;
  border: solid 1px #043b6d;
	@include border-radius(30px);
	background-color: transparent;
	color: #043b6d;
	font: 500 18px $primary_font;
  outline: 0 !important;
	text-decoration: none;
}

.mainSec .chkbox1 {
  table {
    tr {
      td {
        vertical-align: top;

        input {
          display: none;

          & + label {
            &::before {
              content: '';
              width: 22px;
              height: 22px;
              border: solid 1px #c6c6c6;
              margin-right: 3px;
              @include border-radius(7px);
              display: inline-block;
              background-color: #ffffff;
              vertical-align: middle;
            }
          }

          &:checked + label::before {
            background: #fff url(../images/tick.png) no-repeat center center/9px;
          }
        }

        label {
          margin: 0;
          color: #5a5a5a;
          cursor: pointer;
          font: 500 14px $primary_font;
        }
      }
    }
  }
}

.topsec {
  padding: 65px 15px;
  background: url(../images/health-bg.png) no-repeat left top;

  h2 {
    margin: 0;
    color: #043b6d;
    font: 700 35px $primary_font;
  }

  span {
    color: #a0311d;
    font: 700 20px $primary_font;
  }

  .formdiv {
    padding-right: 75px;
    margin-top: 40px;

    label {
      margin: 0 0 5px;
      color: #323657;
      font: 500 16px $primary_font;
    }

    .form-control {
      height: 36px;
      border: solid 1px #cccccc;
      @include border-radius(8px);
      background-color: #fff;
      @include box-shadow(0, 0, 0, 0);
      color: #6a6a6a;
      font: 400 15px $primary_font;

      &:focus {
        border-color: #e77717;
      }
    }
  }
}

.mainSec {
  .renewDiv {
    padding: 15px 25px 0;
    @include border-radius(15px);
    background-image: linear-gradient(to bottom, #316ca1, #043b6d);
    @include box-shadow(3px, 3px, 3px, 0 rgba(0, 0, 0, 0.34));

    h3 {
      margin: 0 0 15px;
      color: #fff;
      font: 500 18px $primary_font;
    }

    h4 {
      margin: 0;
      color: #fff;
      font: 500 22px $primary_font;
    }

    small {
      color: #fff;
      font: 400 16px $primary_font;
    }

    .premDiv {
      @include border-radius(15px);
      background-color:  rgba(255, 255, 255, 0.12);
      overflow: hidden;

      table {
        width: 100%;

        tr {
          td {
            padding: 20px;
            color: #ffffff;
            font: 500 16px $primary_font;
            vertical-align: middle;
            
            span {
              padding-left: 28px;
              background: url(../images/rupee.png) no-repeat left center/19px;
              color: #ffffff;
              font: 500 38px $primary_font;
            }
          }
        }
      }
    }

    .modifyDiv {
      height: 100%;
      border: solid 1px #3571a8;
      @include border-radius(15px);
      overflow: hidden;

      ul {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: table;
        text-align: center;

        li {
          width: 50%;
          padding: 15px;
          display: table-cell;
          vertical-align: middle;

          .radio1 {
            width: 100%;

            tr {
              td {
                vertical-align: middle;
          
                input {
                  display: none;
          
                  &:checked + label::before {
                    background-color: #043b6d;
                    @include box-shadow(inset 0, 0, 0, 4px #fff);
                  }
                }
              
                label {
                  margin: 0;
                  color: #fff;
                  cursor: pointer;
                  font: 500 16px $primary_font;
          
                  &::before {
                    content: '';
                    width: 25px;
                    height: 25px;
                    border: 1px solid #D4D4D3;
                    margin-right: 7px;
                    @include border-radius(50%);
                    display: inline-block;
                    background-color: #fff;
                    vertical-align: middle;
                    @include transition(all, 0.2s, linear);
                  }
                }
              }
            }  
          }
        }
      }
    }
  }

  .insureDiv {
    border: solid 1px rgba(49, 108, 161, 0.32);
    margin: 10px 0;
    @include border-radius(15px);
    background-color: #ffffff;
    @include box-shadow(3px, 3px, 3px, 0 rgba(126, 126, 126, 0.82));
    overflow: hidden;

    .innerdiv {
      padding: 20px 30px 0;

      &.confirmdiv {
        small {
          color: #939393;
          font: 500 14px $primary_font;
        }

        span {
          margin-top: 3px;
          display: block;
          color: #262626;
          font: 500 18px $primary_font;

          &.rupee {
            padding-left: 18px;
            background: url(../images/rupee-black.png) no-repeat left center/11px;
          }
        }

        .donloadLnk {
          width: 40px;
          height: 40px;
          margin-top: 8px;
          @include border-radius(50%);
          display: inline-block;
          background: #f27b1a url(../images/download.png) no-repeat center center;
          text-decoration: none;
          vertical-align: top;
        }
      }
    }

    h4 {
      padding: 9px;
      margin: 0;
      @include border-radius(15px);
      position: relative;
      background-image: linear-gradient(to bottom, #336ea3, #043c6e);
      @include box-shadow(3px, 3px, 3px, 0 rgba(126, 126, 126, 0.82));
      color: #ffffff;
      font: 500 18px $primary_font;
      text-align: center;

      a {
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          width: 20px;
        }
      }
    }

    label {
      margin: 0;
      color: #043b6d;
      font: 400 14px $primary_font;
    }

    .form-control {
      height: 35px;
      padding-left: 0;
      border: 0;
      border-bottom: 1px solid #C6C6C6;
      @include border-radius(0);
      background-color: #fff;
      @include box-shadow(0, 0, 0, 0);
      color: #4b4b4b;
      font: 500 16px $primary_font;

      &:focus {
        border-color: #336ea3;
      }

      &:disabled {
        border-bottom: 0;
        background: #fff;
      }
    }

    .radio1 {
      margin-top: 5px;

      tr {
        td {
          width: 75px;
          vertical-align: middle;
    
          input {
            display: none;
    
            &:checked + label::before {
              background-color: #043b6d;
              @include box-shadow(inset 0, 0, 0, 3px #fff);
            }
          }
        
          label {
            margin: 0;
            color: #4b4b4b;
            cursor: pointer;
            font: 500 16px $primary_font;
    
            &::before {
              content: '';
              width: 19px;
              height: 19px;
              border: 1px solid #D4D4D3;
              margin-right: 7px;
              @include border-radius(50%);
              display: inline-block;
              background-color: #fff;
              vertical-align: middle;
              @include transition(all, 0.2s, linear);
            }
          }
        }
      }  
    }
    
    .cstmDiv {
      table {
        width: 100%;

        input, select {
          height: 35px;
          padding-left: 0;
          border: 0;
          border-bottom: 1px solid #C6C6C6;
          background-color: #fff;
          color: #4b4b4b;
          font: 500 16px $primary_font;
          outline: 0 !important;
          @include transition(all, 0.2s, ease-in-out);
  
          &:focus {
            border-color: #336ea3;
          }

          &:disabled {
            border-bottom: 0;
            background: #fff;
          }
        }
  
        select {
          width: 55px;
          background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
  
        input {
          width: 100%;
        }
      }      
    }

    a.viewPed {
      padding: 7px 12px;
      border: solid 1px #185185;
      @include border-radius(15px);
      display: block;
      color: #185185;
      font: 500 13px $primary_font;
      text-align: center;
      text-decoration: none;
    }
  }
}

.borderBtm {
  height: 8px;
  background-image: linear-gradient(to bottom, #e77717, #97281e);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.popforms {
  .modal-content {
    @include border-radius(10px);
    overflow: hidden;

    .modal-body {
      padding: 0;

      h3 {
        margin: 0;
        padding: 15px;
        background-color: #eeeeee;
        color: #043b6d;
        font: 500 14px $primary_font;
      }
      
      ul {
        padding: 20px 30px;
        margin: 0;
        list-style-type: none;
  
        li {
          display: inline-block;
          vertical-align: top;
  
          label {
            margin: 0;
            color: #292929;
            cursor: pointer;
            font: normal 14px $primary_font;
          }

          &:first-child {
            margin-right: 70px;
          }
        }
      }
  
      .radiodiv1 {
        input {
          display: none;
    
          &:checked + label {
            &::before {
              background: #fff url(../images/tick-blue.png) no-repeat center center/11px;
            }
          }
        }
      
        label {
          &::before {
            content: '';
            width: 25px;
            height: 25px;
            border: solid 1px #c6c6c6;
            margin-right: 8px;
            @include border-radius(8px);
            display: inline-block;
            background-color: #ffffff;
            cursor: pointer;
            vertical-align: top;
          }
        }
      }
    }    
  }

  .modal-foot {
    padding: 0 15px 15px;  
  }
}

.paymentmode {
  ul {
    padding-left: 0;
    margin: 0;
    text-align: center;

    li {
      margin: 15px;
      display: inline-block;
      vertical-align: top;

      a {
        display: inline-block;
        text-decoration: none;

        div {
          width: 78px;
          height: 78px;
          margin: 0 auto;
          @include border-radius(50%);
          position: relative;
          background-color: #EBF2FC;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        span {
          margin-top: 5px;
          display: inline-block;
          color: #343434;
          font: 500 11px $primary_font;
        }
      }
    }
  }
}

@media(max-width:1199px) {
  .mainSec .insureDiv a.viewPed {
    padding: 7px 5px;
  }
}

@media(max-width:991px) {
  .topsec {
    background: url(../images/health-bg.png) no-repeat left top/50%;
  }

  .popforms .modal-content .modal-body ul li:first-child {
    margin-right: 0;
  }
}

@media(max-width:767px) {
  .topsec {
    padding: 60px 15px 30px;
    background: url(../images/health-bg-sm.png) no-repeat left top;

    h2 {
      font: 700 28px $primary_font;
    }

    span {
      font: 500 15px $primary_font;
    }

    .formdiv {
      padding-right: 0;
      margin-top: 70px;
    }
  }
}

@media (max-width:575px) {
  body {
    padding-top: 58px;
  }

	header {
    text-align: center;

    h1 {
      a {
        width: 150px;
        padding: 5px 0;
      }
    }
	}

	.cstmbtn1, .cstmbtn2 {
    min-width: 120px;
    padding: 8px 12px;
		font-size: 13px;
  }
  
  .topsec {
    h2 {
      margin: 0 0 10px;
    }

    .formdiv {
      padding: 0 30px;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .mainSec {
    .renewDiv {
      margin-bottom: 10px;

      .premDiv table tr td {
        padding: 15px;
        font-size: 14px;

        span {
          padding-left: 20px;
          background-size: 15px;
          font-size: 30px;
        }
      }

      .modifyDiv {
        border: 0;

        ul li {
          padding: 0;

          .radio1 tr td label {
            font-size: 14px;
          }

          &:last-child {
            text-align: left;
          }
        }
      }
    }
  }

  .paymentmode ul li {
    margin: 10px;

    a {
      div {
        width: 80px;
        height: 80px;
  
        img {
          width: 46%;
        }
      }
    }
  }
}

@media (max-width:400px) {
  .topsec {
    h2 {      
      font-size: 20px;
    }    
  }
}
