<section class="container-fluid topsec">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 offset-xl-5 col-lg-6 offset-lg-5 col-md-6 offset-md-6 col-sm-8 offset-sm-3 col-7 offset-5">
            <h2>Health Renewal</h2>
            <span>I want to renew/extend my insurance policy</span>
          </div>
          <div class="col-xl-5 offset-xl-5 col-lg-6 offset-lg-5 col-md-6 offset-md-6">            
            <div class="formdiv">
              <div class="form-group">
                <label>My Policy Number</label>
                <input type="text" class="form-control" disabled placeholder="{{this.policyDetails.PolicyNumber}}" />
              </div>
              <div class="form-group">
                <label>Date of Birth</label>
                <mat-form-field class="form-control">
                  <input matInput [matDatepicker]="picker" id="DateOfBirth" readonly
                  [min]="meminDOBHB" [max]="memmaxDOBHB" (click)="picker.open()" (dateChange)="getDateOfBirth($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span id = "doberror" class="error"></span>
              </div>
              <div class="text-center">
                <button type="button" (click)="checkDateOfBirth()" class="cstmbtn1">Renew</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid mainSec" *ngIf="showRenewal">
    <div class="row">
      <div class="container">
        <div class="renewDiv">
          <h3 class="text-center">Renewal Premium Payable</h3>
          <div  class="row">
            <div class="col-xl-7 col-lg-6 form-group">
              <div class="premDiv">
                <table>
                  <tr>
                    <td>
                      Premium for 1 Year
                    </td>
                    <td class="text-right">
                      <span>9271</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-xl-5 col-lg-6 form-group">
              <div class="modifyDiv">
                <ul>
                  <li>
                    <table class="radio1">
                      <tr>
                        <td>
                          <input type="radio" id="renewal" value="renewal" (change)=renewalType($event) name="sltAnyone" checked />
                          <label for="renewal">Renewal</label>
                        </td>
                      </tr>
                    </table>
                  </li>
                  <li>
                    <table class="radio1">
                      <tr>
                        <td>
                          <input type="radio" id="modifyDet" value="modify" (change)=renewalType($event) name="sltAnyone" />
                          <label for="modifyDet">Modified Details</label>
                        </td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <form [formGroup]="angForm">
        <div formArrayName="Members" class="cmnbox2">
        <div class="insureDiv"  *ngFor="let member of angForm.get('Members')['controls']; let i = index">
          <div [formGroupName]="i">
          <h4>Insured - {{i+1}} <a href="javascript:void(0)" title="Delete">
            <img src="assets/images/trash.png" alt="icon" *ngIf="modify && angForm.controls.Members.value[i].relationship!='SELF'" (click)="removeInsured(i)">
          </a></h4>
          <div class="innerdiv">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Insured Category</label>
                  <select class="form-control custom-select" formControlName="membertype"  [attr.disabled]="modify? null : ''" (change)="checkthis($event, i)">
                    <option  value="{{type['type']}}" *ngFor="let type of memberType" [attr.selected]="type['type']==angForm.controls.Members.value[i].membertype ? '': null">{{type['type'] | titlecase}}</option>
                  </select>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Relationship</label>
                <select *ngIf="angForm.controls.Members.value[i].membertype=='adult'" formControlName="relationship" [attr.disabled]="modify? null : ''" (change)="checkForm()" class="form-control"  >
                  <option  value="" disabled selected>Select Relationship</option>
                  <option  value={{relation.RelationshipName}} *ngFor="let relation of adultRelationArray" [attr.selected]="relation==angForm.controls.Members.value[i].relationship ? '': null">
                    {{relation.RelationshipName | titlecase}}</option>
                </select>
                <select *ngIf="angForm.controls.Members.value[i].membertype=='child'" formControlName="relationship" [attr.disabled]="modify? null : ''" (change)="checkForm()" class="form-control"  >
                  <option  value="" disabled selected>Select Relationship</option>
                  <option  value={{relation.RelationshipName}} *ngFor="let relation of childRelationArray" [attr.selected]="relation==angForm.controls.Members.value[i].relationship ? '': null">
                    {{relation.RelationshipName | titlecase}}</option>
                </select>
                <label
                  *ngIf="Members.controls[i].get('relationship').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                  class="error">
                  Please Select Relationship
                </label>
              </div>
              <div class="col-lg-3 col-12 form-group cstmDiv">
                <label>Full Name</label>
                <table>
                  <tr>
                    <td width="65">
                      <select class="form-control custom-select"  formControlName="title"  [attr.disabled]="modify? null : ''" >
                        <option value="1" selected>Mr</option>
                        <option value="2">Mrs</option>
                        <option value="3">Ms</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" placeholder="Enter Full Name" value="insuredname" formControlName = "insuredname" [attr.disabled]="modify? null : ''"/>
                    </td>
                  </tr>
                </table>
                <label
                *ngIf="Members.controls[i].get('insuredname').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                class="error">
                Please Enter Name
              </label>
              </div>

              <div class="col-lg-2 col-md-5 col-sm-5 form-group">
                <label>Date of Birth</label>
                <mat-form-field class="form-control">
                  <input matInput [matDatepicker]="picker" id="DateOfBirth{{i+1}}" readonly [disabled]="!modify"
                  [min]="angForm.controls.Members.value[i].membertype=='adult' ? meminDOBHB:childminDOB"
                  [max]="angForm.controls.Members.value[i].membertype=='adult' ? memmaxDOBHB : childmaxDOB" 
                  (click)="picker.open()" (dateChange)="getInsuredDateOfBirth($event,i)" formControlName="insureddob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <label
                *ngIf="Members.controls[i].get('insureddob').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                class="error">
                Please Enter Date of Birth
              </label>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-5 col-7 form-group">
                <label>PED</label>
                <table class="radio1">
                  <tbody>
                  <tr>
                    <td>
                      <input type="radio" id="ped_{{(i*i)+(i+1)}}" formControlName="ped"
                        class="custom-control-input" value="yes" [attr.disabled]="modify? null : ''">
                    <label class="custom-control-label" for="ped_{{(i*i)+(i+1)}}">Yes</label>
                    </td>
                    <td>
                    <input type="radio" id="ped_{{(i*i)+(i+2)}}" formControlName="ped"
                        class="custom-control-input" value="no" [attr.disabled]="modify? null : ''">
                    <label class="custom-control-label" for="ped_{{(i*i)+(i+2)}}">No</label>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2  col-5 p-0 form-group">
                <label class="invisible">btn</label>
                <a (click)="showPED($event)" class="cursorPointer viewPed" *ngIf="angForm.controls.Members.value[i].ped=='yes'">View PED</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="text-center mt-3 mb-4">
          <a type="button" class="cstmbtn2" (click)="addInsured()" *ngIf="modify && showAddInsured">Add Insured</a>
        </div>
        <form class="form" [formGroup]="planDetailsForm">
        <div class="insureDiv">
          <h4>Plan Details</h4>
          <div class="innerdiv">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Plan Name</label>
                <input type="text" formControlName="planName" class="form-control" [(ngModel)]="plan" disabled  />
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6 form-group">
                <label>Number of Adult</label>
                <input type="text" formControlName="numberOfAdult" class="form-control" [(ngModel)]="adultCount" disabled/>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6 form-group">
                <label>Number of Child</label>
                <input type="text" class="form-control" formControlName="numberOfChild" [(ngModel)]="childCount" disabled />
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>Age of Eldest Member</label>
                <input type="text" class="form-control" formControlName="ageEldestMember" [(ngModel)]="highestAge" disabled />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Policy Tenure</label>
                <select class="form-control custom-select"  formControlName="tenure" (change)="changeTenure(tenure)" [attr.disabled]="modify? null : ''" [(ngModel)]="tenure"  >
                  <option *ngFor="let tenure of tenureArray" value="{{tenure}}" >
                    {{tenure}} Year
                  </option>
                </select>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                <label>Sum Insured</label>
                <select class="form-control custom-select" formControlName="sumInsured" (change)="changeSI(sumInsured)" [attr.disabled]="modify? null : ''"  [(ngModel)]="sumInsured"  >
                  <option *ngFor="let si of sumInsuredArray" >
                    {{si}}
                  </option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 form-group">
                <label>Customer State (Applicable for GST)</label>
                <select class="form-control custom-select" formControlName="state"  [attr.disabled]="modify? null : ''" [(ngModel)]="state">
                  <option *ngFor="let st of stateArray"  value="{{st.GSTStateCode}}"  >
                    {{st.StateName  | titlecase}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        </form>
        <div class="text-center mt-3 mb-5">
          <button type="button" class="cstmbtn1" *ngIf="modify" (click)="calculateQuote()">Recalculate</button>
        </div>
      </form>
        <form class="form" [formGroup]="applicantForm" (ngSubmit)="onSubmit()">
        <div class="insureDiv">
          <h4>Applicant Details</h4>
          <div class="innerdiv">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Applicant Full Name</label>
                <input type="text" class="form-control" formControlName="applicantName" placeholder="Enter Applicant Full Name" />
                <span class="text-danger"
                                *ngIf="(aaplicantFormControl.applicantName.touched || submitted) && aaplicantFormControl.applicantName.errors?.required">
                                Applicant Name is required
                </span>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>Aadhar Card Number</label>
                <input type="number" class="form-control"  formControlName="applicantAadhar" placeholder="Enter Aadhar Card Number" />
                <div *ngIf="submitted && aaplicantFormControl.applicantAadhar.errors" class="text-danger">
                  <div *ngIf="aaplicantFormControl.applicantAadhar.errors.required">Aadhar card number is required</div>
                  <div *ngIf="aaplicantFormControl.applicantAadhar.touched && aaplicantFormControl.applicantAadhar.errors.pattern">Enter a valid Aadhar card number</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>Pancard Number</label>
                <input type="text" class="form-control" formControlName="applicantPan" placeholder="Enter Pancard Number" />
                <div *ngIf="submitted && aaplicantFormControl.applicantPan.errors" class="text-danger">
                  <div *ngIf="aaplicantFormControl.applicantPan.errors.required">Pan card number is required</div>
                  <div *ngIf="aaplicantFormControl.applicantPan.touched && aaplicantFormControl.applicantPan.errors.pattern">Enter a valid Pancard Number</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Address line 01</label>
                <input type="text" class="form-control" formControlName="applicantAddress1" placeholder="Enter Address" />
                <span class="text-danger"
                                *ngIf="(aaplicantFormControl.applicantAddress1.touched || submitted) && aaplicantFormControl.applicantAddress1.errors?.required">
                                Applicant Address is required
                </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Address line 02</label>
                <input type="text" class="form-control" formControlName="applicantAddress2" placeholder="Enter Address" />
                <span class="text-danger"
                                *ngIf="(aaplicantFormControl.applicantAddress2.touched || submitted) && aaplicantFormControl.applicantAddress2.errors?.required">
                                Applicant Address is required
                </span>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>Pincode</label>
                <input type="number" class="form-control"  placeholder="Enter Pincode" formControlName="applicantPinCode" (input)="getPincodeDetails($event)"
                maxlength="6"/>
                <span class="text-danger"
                                *ngIf="(aaplicantFormControl.applicantPinCode.touched || submitted) && aaplicantFormControl.applicantPinCode.errors?.required">
                                Applicant Pincode is required
                </span>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>City</label>
                <input type="text" id="appCity" name="appCity" class="form-control" formControlName="applicantCity"
                                  placeholder="Enter City" readonly />
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>State</label>
                <input type="text" id="appState" name="appState" class="form-control"
                formControlName="applicantState" placeholder="Enter State" readonly />
              </div>
            </div>
          </div>     
        </div>
        <div class="insureDiv">
          <div class="innerdiv">
            <div class="row">
              <div class="col-12">
                <div class="chkbox1 mb-2">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="iagree1"  formControlName="applicantWhatsappConsent" name="iagree1" checked />
                          <label for="iagree1"></label>
                        </div>
                      </td>
                      <td>
                        <label for="iagree1">I give my consent to ICICI Lombard for reaching me on Whats App for future engagement related to my Insurance policy.</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-12">
                <div class="chkbox1 mb-2">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="iagree2"  formControlName="applicantPolicyKit" name="iagree2" checked />
                          <label for="iagree2"></label>
                        </div>
                      </td>
                      <td>
                        <label for="iagree2">I give my consent to receive only soft copy of my policy kit as my contribution to go green initiative of ICICI Lombard.</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-12">
                <div class="chkbox1 mb-2">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="iagree3" formControlName="applicantAutoRenewal" name="iagree3" checked />
                          <label for="iagree3"></label>
                        </div>
                      </td>
                      <td>
                        <label for="iagree3">Auto renewal consent for next year</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 form-group">
                <label>Account Holder Name</label>
                <input type="text" class="form-control" formControlName="applicantAccountName" placeholder="Enter Account Holder Name" />
                  <span class="text-danger"
                  *ngIf="(aaplicantFormControl.applicantAccountName.touched || submitted) && aaplicantFormControl.applicantAccountName.errors?.required">
                    Account Holder Name is required
                  </span>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>ICICI Bank Account Number</label>
                <input type="text" class="form-control" formControlName="applicantAccountNo" placeholder="Enter Account Number"  />
                <div *ngIf="submitted && aaplicantFormControl.applicantAccountNo.errors" class="text-danger">
                  <div *ngIf="aaplicantFormControl.applicantAccountNo.errors.required">Account Number is required</div>
                  <div *ngIf="aaplicantFormControl.applicantAccountNo.touched && aaplicantFormControl.applicantAccountNo.errors.pattern">Enter a valid Account Number</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 form-group">
                <label>IFSC Code</label>
                <input type="text" class="form-control" formControlName="applicantIFSCCode" placeholder="Enter IFSC Code" />
                <div *ngIf="submitted && aaplicantFormControl.applicantIFSCCode.errors" class="text-danger">
                  <div *ngIf="aaplicantFormControl.applicantIFSCCode.errors.required">IFSC Code is required</div>
                  <div *ngIf="aaplicantFormControl.applicantIFSCCode.touched && aaplicantFormControl.applicantIFSCCode.errors.pattern">Enter a valid IFSC Code</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3 mb-5">
          <input type="submit"  class="cstmbtn1" value="Submit"/>
        </div>
      </form>
      </div>
    </div>
  </section>

