<div class="content" role="main">
    <section class="container-fluid maindiv">
      <div class="row">
        <div class="container">
          <div class="innerdiv"> 
            <div class="container-fluid maindiv">
              <div class="loader">
                <img style="padding:250px 50px; height: 700px;" src="assets/images/loader.gif" />
              </div>
              <div class="col-12 form-group" style="text-align: center">
                <h5>We're processing your payment</h5>
                <small>This process may take few seconds, so please be patient.</small>
                <small>Do not press back or close the window.</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  